<div class="input-group">
  <input id="search-input" type="search" class="form-control" placeholder="Recherche..." [(ngModel)]="searchInputValue" name="searchIdOrCustomer" (ngModelChange)="searchInputUpdate.next($event)" (focus)="open()" ngbTooltip="Recherchez un numéro de réservation ou un client" />
  <span id="search-spinner" *ngIf="launchAction" class="spinner-border text-light mt-2 ml-1" role="status">
    <span class="sr-only">Loading...</span>
  </span>
</div>
<div id="result-block" *ngIf="displayResults && searchInputValue.length>0">
  <div class="text-italic" *ngIf="isEmptyResult()">Pas de résultat trouvé</div>
  <div class="text-left" *ngIf="!isEmptyResult()">
    <div class="mb-3" *ngIf="searchResults && searchResults.bookings != null">
      <h6 class="font-weight-bold small">Réservations</h6>
      <div class="cursor-pointer line-result" *ngFor="let booking of searchResults.bookings" (click)="openBooking(booking)">
        Réservation n°<span *ngIf="booking.idCreation != -1">{{ booking.idCreation }}</span>
        <span *ngIf="booking.idCreation == -1">{{ booking.id }}</span> -
        <span *ngIf="booking.customer.company.length>0">{{ booking.customer.company }} </span>
        <span *ngIf="booking.customer.lastName.length>0">{{ booking.customer.lastName }} </span>
        <span *ngIf="booking.customer.firstName.length>0">{{ booking.customer.firstName }} </span> -
        <span *ngIf="booking.status == 'ok'">Confirmé</span>
        <span *ngIf="booking.status == 'waiting'">En attente</span>
        <span *ngIf="booking.status == 'cancelled'">Annulé</span>
        <span *ngIf="booking.status == 'abandonned'">Abandonné</span> -
        {{ booking.totalPrice | number:'1.2':'fr' }}€
        <hr />
      </div>
      <div *ngIf="searchResults.bookings.length == 0">Aucune réservation</div>
    </div>
    <div class="mb-3" *ngIf="searchResults && searchResults.customers != null">
      <h6 class="text-left font-weight-bold small">Clients</h6>
      <div class="cursor-pointer line-result" *ngFor="let customer of searchResults.customers" (click)="goCustomer(customer.ID)">
        <span *ngIf="customer.company.length>0">{{ customer.company }} - </span>
        <span *ngIf="customer.lastName.length>0">{{ customer.lastName }} </span>
        <span *ngIf="customer.firstName.length>0">{{ customer.firstName }} </span>
        <span *ngIf="customer.phone.length>0"> - {{ customer.phone | formatPhone }} </span>
         - <a href="javascript:void(0)">Fiche client</a>
        <hr />
      </div>
      <div *ngIf="searchResults.customers.length == 0">Aucun client</div>
    </div>
  </div>
</div>
